.json {
  pre {
    margin-top: 2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #efefef;
    padding: 0.4rem;
    font-size: 0.7rem;
  }

  .string {
    color: green;
  }

  .number {
    color: darkorange;
  }

  .boolean {
    color: blue;
  }

  .null {
    color: magenta;
  }

  .key {
    color: red;
  }
}
